<div class="dialog" role="dialog" id="guest-dialog" aria-labelledby="guest_dialog" [attr.aria-modal]="display"
  *ngIf="display" (blur)="closeDialogCall()">
  <div class="dialog-content" >
    <div [ngClass]="sHeading ? 'dialog-highlight-header':'dialog-header'">
      <span class="icon" tabindex="0" (click)="closeDialogCall()">X</span>
      <h2 *ngIf="!sHeading" >{{header}}</h2>
      <h3 *ngIf="sHeading">{{header}}</h3>
    </div>
    <div class="dialog-main" id="guest_dialog">
      <ng-content></ng-content>
    </div>

  </div>
</div>