<header>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="flex-start center">
    <h1>Hotel</h1>
    <nav>
      <ul>
        <li routerLinkActive="active"><a routerLink="/room">Room Booking</a></li>
        <li routerLinkActive="active"><a routerLink="/bookings">My Bookings</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>