<div class="bookings" >
    <h2>My Bookings</h2>
    <ul class="booking-list" *ngIf="myBookings">
        <li class="main">{{myBookings?.guests[0].firstName + " "+ myBookings?.guests[0].lastName}} <b>{{myBookings?.guests.length}} guest(s)</b></li>
        <li class="highlight"><span>Room</span> <span>{{myBookings?.checkInDetails?.roomType}}</span></li>
        <li><span class="highlight">Check in</span> {{myBookings?.checkInDetails?.checkin}}</li>
        <li><span class="highlight">Check out</span> {{myBookings?.checkInDetails?.checkout}}</li>
    </ul>
    <p *ngIf="!myBookings">No hotels were booked. please click <a routerLink="/room">here</a> to book.</p>
</div>